<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/de84e03a29.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-left">
            <%= link_to "Bookers",root_path, class:"title"%>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="">
                <%= link_to user_path(current_user), class:"btn btn-link" do %>
                <i class="fas fa-home" aria-hidden="true">Home</i>
                <% end %>
              </li>
              <li class="">
                <%= link_to users_path, class:"btn btn-link" do %>
                <i class="fas fa-users" aria-hidden="true">Users</i>
                <% end %>
              </li>
              <li class="">
                <%= link_to books_path, class:"btn btn-link" do %>
                <i class="fas fa-book" aria-hidden="true">Books</i>
                <% end %>
              </li>
              <li class="">
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                <i class="fas fa-sign-out-alt" aria-hidden="true">logout</i>
                <% end %>
              </li>
            <% else %>
              <li class="">
                <%= link_to root_path, class:"btn btn-link" do %>
                <i class="fas fa-home" aria-hidden="true">Home</i>
                <% end %>
              </li>
              <li class="">
                <%= link_to home_about_path, class:"btn btn-link" do %>
                <i class="fas fa-link" aria-hidden="true">About</i>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                <i class="fas fa-user-plus" aria-hidden="true">Sign Up</i>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_session_path, class:"btn btn-link" do %>
                <i class="fas fa-sign-in-alt" aria-hidden="true">login</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


        <footer>
          <p class="text-right"> CopyRight Infratop.inc</p>
        </footer>
      </div>
    </div>
  </body>
</html>
