<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse text-color">
      <div class="container">
        <p class="navbar-text navbr-left header-text">Bookers</p>
        <nav>
          <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
              <li class="navbar-item">
                <%= link_to user_path(current_user), class:"nav-link" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true">  Home</span>
                <% end %>
              </li>
              <li class="navbar-item">
                <%= link_to users_path, class:"nav-link" do %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true">  Users</span>
                <% end %>
              </li>
              <li class="navbar-item">
                <%= link_to books_path, class:"nav-link" do %>
                  <span class="glyphicon glyphicon-book" aria-hidden="true">  Books</span>
                <% end %>
              </li>
              <li class="navbar-item">
                <%= link_to destroy_user_session_path, class:"nav-link", method: :delete do %>
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true">  logout</span>
                <% end %>
              </li>

            <% else %>
              <li class="navbar-item">
                <%= link_to root_path, class:"nav-link" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true">  Home</span>
                <% end %>
              </li>
              <li class="navbar-item">
                <%= link_to home_about_path, class:"nav-link" do %>
                  <span class="glyphicon glyphicon-link" aria-hidden="true">  About</span>
                <% end %>
              </li>
              <li class="navbar-item">
                <%= link_to new_user_registration_path, class:"nav-link" do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true">  sign up</span>
                <% end %>
              </li>
              <li class="navbar-item">
                <%= link_to new_user_session_path, class:"nav-link" do %>
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true">  login</span>
                <% end %>
              </li>

            <% end %>
          </ul>
      </nav>
      </div>
    </header>

    <div class="body">
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="success"><%= flash[:success] %></p>

        <%= yield %>
      </div>

    </div>

    <footer>
      <div class="container">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.Inc</p>
        </div>
      </div>
    </footer>

  </body>
</html>
